<section id="search" class="search-wrap-index">
    <h1>Find A Agro Product</h1>
    <form action="/search" class="search-form">
      <input type="search" name="term" placeholder="Cauli-flower, Kiwi, Apple, etc...">
      <input type="submit" value="Search">
    </form>
  </section>