<section id="search" class="search-wrap-index">
    <h1>Find Tutorials</h1>
    <form action="/search" class="search-form">
      <input type="search" name="term" placeholder="Nodejs, Python, C++, C etc...">
      <input type="submit" value="Search">
    </form>
  </section>